body,
p,
h1,
ul,
li,
blockquote {
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "Vollkorn", Georgia, serif;
  background-color: #fafbfc;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  border-radius: 5px;
}

header {
  background: linear-gradient(135deg, #8844ee, #b07dfb);
}

.conteudo {
  display: grid;
  grid-template-areas:
  "header" "header" "header"
  "sidenav" "main" "aside"
  "footer" "footer" "footer";
}

.header {
  grid-area: "header";
}

.conteudo-main {
  grid-area: "main";
}

.sidenav {
  grid-area: "sidenav";
}








